.banner {
    background-image: url('https://images.pexels.com/photos/235648/pexels-photo-235648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    opacity: 95%;
    transition-timing-function: ease-in;
    transition: 0.6s;
}

.banner:hover{
    opacity: 100%;
}


.banner-text{
    flex-grow: 1;
    margin-bottom: 15;
    line-height: 1.6;
    text-indent: -40rem;
    font-size: 8rem;
}